.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 24px;
}

.left-pad {
    width: 10%;
}

.test {
    width: 35%;
    min-width: 400px;
    padding: 1em 0;

}

.impl {
    width: 35%;
    min-width: 400px;
    padding: 1em 0;
}

.right-pad {
    width: 10%;
}